<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout/layout}">
<head>
  <title>Users</title>
</head>
<body>

  <div class="card card-custom card-custom gutter-t" layout:fragment="content">
    <div class="card-header py-3">
      <div class="card-title">
        <h3 class="card-label">Users</h3>
      </div>
      <div class="card-toolbar">
        <ul class="nav nav-tabs nav-bold">
          <li class="nav-item">
            <a class="btn btn-outline-success font-weight-bold btn-pill" th:href="@{/users/new}">
              <i class="flaticon-plus"></i>
              Add new
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="nav-icon">
                <i class="flaticon-interface-6"></i>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-left" style="">
              <a class="dropdown-item"  th:href="@{'/users/export/csv'(page=${param.page == null ? 0 : param.page},__${@thymeleafUtilsService.buildMultiParamPartUrl(paramNames)}__)}">
                CSV
              </a>
              <a class="dropdown-item"  th:href="@{'/users/export/excel'(page=${param.page == null ? 0 : param.page},__${@thymeleafUtilsService.buildMultiParamPartUrl(paramNames)}__)}">
                Excel
              </a>
              <a class="dropdown-item"  th:href="@{'/users/export/pdf'(page=${param.page == null ? 0 : param.page},__${@thymeleafUtilsService.buildMultiParamPartUrl(paramNames)}__)}">
                Pdf
              </a>
            </div>
          </li>

        </ul>
      </div>
    </div>

    <div class="card-body ">
      <div th:if="${message != null}">
        <div  th:replace="admin/includes/messages :: messages (type='success', message=${message})" ></div>
      </div>

      <form class="kt-form kt-form--fit mb-15">
        <div class="row mb-6">
          <div class="col-lg-3 mb-lg-0 mb-6">
            <label>First Name</label>
            <input type="text" name="firstName" th:value="${param.firstName}" class="form-control filter-input name"  data-col-index="0">
          </div>
          <div class="col-lg-3 mb-lg-0 mb-6">
            <label>Last Name</label>
            <input type="text" name="lastName" th:value="${param.lastName}" class="form-control filter-input name"  data-col-index="0">
          </div>
          <div class="col-lg-3 mb-lg-0 mb-6">
            <label>Email</label>
            <input type="text" name="email" th:value="${param.email}" class="form-control filter-input name"  data-col-index="0">
          </div>
          <div class="col-lg-3 mb-lg-0 mb-6">
            <label>date</label>
            <div class="input-daterange input-group" id="kt_datepicker">
              <input type="text" th:value="${param.from}" class="form-control filter-input datepicker from" name="from" placeholder="From" data-col-index="5">
              <div class="input-group-append">
              <span class="input-group-text">
                <i class="la la-ellipsis-h"></i>
              </span>
              </div>
              <input type="text" th:value="${param.to}" class="form-control filter-input datepicker to" name="to" placeholder="To" data-col-index="5">
            </div>
          </div>
        </div>

        <div class="row mt-8">
          <div class="col-lg-12">
            <button class="btn btn-primary btn-primary--icon" id="kt_search">
              <span>
                <i class="la la-search"></i>
                <span>Search</span>
              </span>
            </button>&nbsp;&nbsp;
            <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
              <span>
                <i class="la la-close"></i>
                <span>Reset</span>
              </span>
            </button>
          </div>
        </div>
      </form>

      <div id="kt_datatable2_wrapper"  class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-separate  table-checkable dataTable no-footer dtr-inline" role="grid" aria-describedby="kt_datatable2_info" id="myTable">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th class="datatable-cell datatable-cell-sort datatable-cell-sorted">
                    <a style="color: #212121"
                      th:href="@{''(page=${users.number + 1},sortField='id',sortDir = ${sortDir == 'asc' ? 'desc' : 'asc'})}">
                      ID
                    </a>
                    <span th:if="${sortField == 'id'}" style="width: 137px;">
                      <i th:class="${sortDir == 'asc' ? 'flaticon2-arrow-up' : 'flaticon2-arrow-down'}"></i>
                    </span>
                  </th>
                  <th>Photo</th>

                  <th>
                    <a style="color: #212121" th:href="@{''(page=${users.number + 1},sortField='email',sortDir = ${sortDir == 'asc' ? 'desc' : 'asc'})}">
                      Email
                    </a>
                    <span th:if="${sortField == 'email'}" style="width: 137px;">
                      <i th:class="${sortDir == 'asc' ? 'flaticon2-arrow-up' : 'flaticon2-arrow-down'}"></i>
                    </span>
                  </th>

                  <th>
                    <a style="color: #212121" th:href="@{''(page=${users.number + 1},sortField='firstName',sortDir = ${sortDir == 'asc' ? 'desc' : 'asc'})}">
                      First Name
                    </a>
                    <span th:if="${sortField == 'firstName'}" style="width: 137px;">
                      <i th:class="${sortDir == 'asc' ? 'flaticon2-arrow-up' : 'flaticon2-arrow-down'}"></i>
                    </span>
                  </th>
                  <th>
                    <a style="color: #212121" th:href="@{''(page=${users.number + 1},sortField='lastName',sortDir = ${sortDir == 'asc' ? 'desc' : 'asc'})}">
                      Last Name
                    </a>
                    <span th:if="${sortField == 'lastName'}" style="width: 137px;">
                      <i th:class="${sortDir == 'asc' ? 'flaticon2-arrow-up' : 'flaticon2-arrow-down'}"></i>
                    </span>
                  </th>
                  <th>Roles</th>
                  <th>
                    <a style="color: #212121" th:href="@{''(page=${users.number + 1},sortField='enabled',sortDir = ${sortDir == 'asc' ? 'desc' : 'asc'})}">
                      Enabled
                    </a>
                    <span th:if="${sortField == 'enabled'}" style="width: 137px;">
                      <i th:class="${sortDir == 'asc' ? 'flaticon2-arrow-up' : 'flaticon2-arrow-down'}"></i>
                    </span>
                  </th>
                  <th>
                    <a style="color: #212121" th:href="@{''(page=${users.number + 1},sortField='createdAt',sortDir = ${sortDir == 'asc' ? 'desc' : 'asc'})}">
                      Created At
                    </a>
                    <span th:if="${sortField == 'createdAt'}" style="width: 137px;">
                      <i th:class="${sortDir == 'asc' ? 'flaticon2-arrow-up' : 'flaticon2-arrow-down'}"></i>
                    </span>
                  </th>
                  <th>
                    <a style="color: #212121" th:href="@{''(page=${users.number + 1},sortField='updatedAt',sortDir = ${sortDir == 'asc' ? 'desc' : 'asc'})}">
                      Updated At
                    </a>
                    <span th:if="${sortField == 'updatedAt'}" style="width: 137px;">
                      <i th:class="${sortDir == 'asc' ? 'flaticon2-arrow-up' : 'flaticon2-arrow-down'}"></i>
                    </span>
                  </th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="user,iter : ${users.getContent()}">
                <th scope="row" th:text="${iter.index +1}"></th>
                <td th:text="${user.id}"></td>
                <td>
                  <img th:if="${user.photos != null}" width="100" th:src="@{${user.photosImagePath}}" />
                </td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.roles}"></td>
                <td>
                  <a th:if="${user.enabled == true}" class="btn btn-xs btn-info mb-1"><i class="flaticon2-check-mark"></i></a>
                  <a th:if="${user.enabled == false}" class="btn btn-xs btn-danger"><i class="flaticon2-cross"></i></a>
                </td>
                <td th:text="${#temporals.format(user.createdAt, 'yyyy-MM-dd')}"></td>
                <td th:text="${#temporals.format(user.updatedAt, 'yyyy-MM-dd HH:mm')}"></td>
                <td>
                  <a th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-xs btn-info mb-1"><i class="flaticon2-edit"></i></a>
                  <a th:href="@{/users/delete/{id}(id=${user.id})}"  class="btn btn-xs btn-danger delete_warning text-white mb-1" style="cursor:pointer;">
                    <i class="fa fa-trash"
                       data-toggle="tooltip"
                       data-placement="top" title=""
                       data-original-title="Warning"></i>
                  </a>
                </td>

              </tr>
              </tbody>
            </table>

            <div th:replace="admin/includes/pagenation :: pagenation (${users},${paramNames})">...</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>