<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout/layout}">
<head>
  <title>Users</title>
</head>
<body>

  <div class="card card-custom card-custom gutter-t" layout:fragment="content">
    <div class="card-header py-3">
      <div class="card-title">
        <h3 class="card-label">Users</h3>
      </div>
      <div class="card-toolbar">
        <ul class="nav nav-tabs nav-bold">
          <li class="nav-item">
            <a class="btn btn-outline-success font-weight-bold btn-pill" th:href="@{/users/new}">
              <i class="flaticon-plus"></i>
              Add new
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card-body ">
      <div th:if="${message != null}">
        <div  th:replace="admin/includes/messages :: messages (type='success', message=${message})" ></div>
      </div>

      <form class="kt-form kt-form--fit mb-15">
        <div class="row mb-6">
          <div class="col-lg-3 mb-lg-0 mb-6">
            <label>Name</label>
            <input type="text" name="name" class="form-control datatable-input name"  data-col-index="0">
          </div>
        </div>
        <div class="row mt-8">
          <div class="col-lg-12">
            <button class="btn btn-primary btn-primary--icon" id="kt_search">
              <span>
                <i class="la la-search"></i>
                <span>Search</span>
              </span>
            </button>&nbsp;&nbsp;
            <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
              <span>
                <i class="la la-close"></i>
                <span>Reset</span>
              </span>
            </button>
          </div>
        </div>
      </form>

      <div id="kt_datatable2_wrapper"  class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-separate  table-checkable dataTable no-footer dtr-inline" role="grid" aria-describedby="kt_datatable2_info" id="myTable">
              <thead>
                <tr>
                <th scope="col">#</th>
                <th>ID</th>
                <th>Photo</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Roles</th>
                <th>Enabled</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
                <tr th:each="user,iter : ${users.getContent()}">
                <th scope="row" th:text="${iter.index +1}"></th>
                <td th:text="${user.id}"></td>
                <td>
                  <img th:if="${user.photos != null}" width="100" th:src="@{${user.photosImagePath}}" />
                </td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.roles}"></td>
                <td>
                  <a th:if="${user.enabled == true}" class="btn btn-xs btn-info mb-1"><i class="flaticon2-check-mark"></i></a>
                  <a th:if="${user.enabled == false}" class="btn btn-xs btn-danger"><i class="flaticon2-cross"></i></a>
                </td>
                <td th:text="${#temporals.format(user.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
                <td th:text="${#temporals.format(user.updatedAt, 'dd-MM-yyyy HH:mm')}"></td>
                <td>
                  <a th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-xs btn-info mb-1"><i class="flaticon2-edit"></i></a>
                  <a th:href="@{/users/delete/{id}(id=${user.id})}"  class="btn btn-xs btn-danger delete_warning text-white mb-1" style="cursor:pointer;">
                    <i class="fa fa-trash"
                       data-toggle="tooltip"
                       data-placement="top" title=""
                       data-original-title="Warning"></i>
                  </a>
                </td>

              </tr>
              </tbody>
            </table>
            <div th:replace="admin/includes/pagenation :: pagenation (${users})">...</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>